.heroCon {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    height: 72vh;
}

.imgCon img {
    height: 25rem;
    width: 20rem;
    border-radius: 10px;
}
